<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <span type="button" class="close" data-dismiss="modal" aria-label="Close"></span>
      <h2 class="modal-title"><%= t ".heading" %></h2>
    </div>
    <div class="modal-body">
      <div class="intro-box">
        <h3><%= @course.name %></h3>
        <label><%= t ".duration" %></label>
        <span><%= t "course_schedules.index.coming_soon" %></span>
      </div>
      <div class="registration-form">
        <%= simple_form_for registration, remote: true do |f| %>
          <%= hidden_field_tag :course, @course.slug %>
          <div class="group-fields">
            <%= f.input :name, label: t(".name"), required: true,
              input_html: {class: "input-text long-input"} %>
          </div>
          <div class="group-fields">
            <%= f.input :email, label: t(".email"), required: true,
              input_html: {class: "input-text long-input"} %>
          </div>
          <div class="group-fields">
            <%= f.input :phone, label: t(".phone"), required: true,
              input_html: {class: "input-text long-input"} %>
          </div>
          <div class="group-fields">
            <%= f.input :address, as: :text, label: t(".address"),
              input_html: {class: "input-text long-input"} %>
          </div>
          <%= render "list_reason_choice" %>
          <div class="group-fields">
            <label class="control-label text required" id="chooses-chedule">
              <abbr>* </abbr><%= t ".choose_schedule" %>
            </label>
            <span class="errors-chooses-chedule" id="errors-chooseschedule"></span>
            <label class="control-label text required note-infor"><%= t ".note" %></label>
          </div>
          <div class="list-course opening-time table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th><%= t ".schedule_time" %></th>
                  <th><%= t ".time_learn" %></th>
                  <th><%= t ".deadline" %></th>
                </tr>
              </thead>
              <tbody>
                <% hash_course_schedules.each do |key, schedules| %>
                  <tr>
                    <td colspan="3" class="clear-td">
                      <% if schedules.first.branch %>
                        <%= schedules.first.branch_name %>
                      <% end %>
                    </td>
                  </tr>
                  <%= render partial: "schedule", collection: schedules, as: :newest_schedule %>
                <% end %>
              </tbody>
            </table>
          </div>
          <%= f.submit t(".submit"), class: "btn-submit" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag "choose_shedule" %>
