<div id="bottom-b" class="full-bottom-b">
  <div class="container">
    <div class="partner">
      <h2 class="title-box"><%= t ".our_clients" %></h2>
      <div class="js-partner all-partner">
        <div class="partner-item">
          <%= image_tag 'media/partner-1' %>
        </div>
        <div class="partner-item">
          <%= image_tag 'media/partner-2' %>
        </div>
        <div class="partner-item">
          <%= image_tag 'media/partner-3' %>
        </div>
        <div class="partner-item">
          <%= image_tag 'media/partner-4' %>
        </div>
        <div class="partner-item">
          <%= image_tag 'media/partner-5' %>
        </div>
        <div class="partner-item">
          <%= image_tag 'media/partner-6' %>
        </div>
        <div class="partner-item">
          <%= image_tag 'media/partner-7' %>
        </div>
        <div class="partner-item">
          <%= image_tag 'media/partner-8' %>
        </div>
      </div>
    </div>
  </div>
</div>
