<h2 class="name-class"><%= course.name.upcase %></h2>
<div class="full-info">
  <div class="left-col col-md-8 col-sm-8">
    <% if newest_schedule %>
      <div>
        <span class="label-time"><%= t ".time_learn" %></span>
        <% if newest_schedules.present? %>
          <%= link_to edit_course_schedule_path(course, course: course.slug), class: "pull-right", remote: :true do %>
            <span class="badge"><%= t ".see_more" %></span>
          <% end %>
        <% end %>
      </div>
      <div class="datetime">
        <p class="fulltime">
          <i class="fa fa-calendar" aria-hidden="true"></i>
          <%= load_register_time newest_schedule %>
        </p>
        <p class="address">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          <%= newest_schedule.place %>
        </p>
      </div>
    <% else %>
      <span class="label-time"><%= t ".time_learn" %></span>
      <div class="datetime">
        <div class="comming-soon">
          <h3><%= t ".comming_soon" %></h3>
          <p><%= t ".condition" %></p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="right-col col-md-4 col-sm-4">
    <%= appear_cost course %>
    <% if newest_schedules.present? && newest_schedule %>
      <p class="deadline"></p>
      <%= link_to new_registration_path(course: course.slug),
        class: "btn-registration btn-blue", remote: true do %>
        <%= t ".register_now" %>
      <% end %>
    <% else %>
      <p class="deadline">
        <b><%= number_of_temporary_registration course %></b>
      </p>
      <%= link_to new_temporary_registration_path(course: course.slug),
        class: "btn-registration btn-blue", remote: true do %>
        <%= t ".register_now" %>
      <% end %>
    <% end %>
  </div>
</div>
