<div class="modal fade registration-modal" id="regbox">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content list-schedule">
      <div class="modal-header">
        <span type="button" class="close" data-dismiss="modal" aria-label="Close"></span>
        <h2 class="modal-title"><%= t ".heading" %></h2>
      </div>
      <div class="modal-body">
        <div class="list-box">
          <div class="list-course opening-time table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th><%= t ".schedule_time" %></th>
                  <th class="text-center"><%= t ".time_learn" %></th>
                  <th class="text-center"><%= t ".deadline" %></th>
                  <th class="text-center"><%= t ".place" %></th>
                </tr>
              </thead>
              <tbody>
                <% newest_schedules.each do |newest_schedule|  %>
                  <tr>
                    <td class="vertical-align">
                      <ul class="detail-time">
                        <li>
                          <i class="fa fa-clock-o" aria-hidden="true"></i>
                          <%= t "day_of_week.#{CourseSchedule::DAY_OF_WEEK[newest_schedule.day1]}" %>
                          <%= load_schedule_time_without_day newest_schedule.start_time1, newest_schedule.end_time1 %>
                        </li>
                        <li>
                          <i class="fa fa-clock-o" aria-hidden="true"></i>
                          <%= t "day_of_week.#{CourseSchedule::DAY_OF_WEEK[newest_schedule.day2]}" %>
                          <%= load_schedule_time_without_day newest_schedule.start_time2, newest_schedule.end_time2 %>
                        </li>
                        <li>
                          <i class="fa fa-clock-o" aria-hidden="true"></i>
                          <%= t "day_of_week.#{CourseSchedule::DAY_OF_WEEK[newest_schedule.day3]}" %>
                          <%= load_schedule_time_without_day newest_schedule.start_time3, newest_schedule.end_time3 %>
                        </li>
                      </ul>
                    </td>
                    <td class="vertical-align"><%= load_register_time newest_schedule %></td>
                    <td class="vertical-align">
                      <%= l newest_schedule.deadline_date, format: :day_month_year %>
                    </td>
                    <td class="vertical-align place-schedule"><%= newest_schedule.place %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
